<div class="relative flex flex-col md:mb-0 mb-4">
    <input
      [(ngModel)]="selectedRegion"
      readonly
      class="region-dropdown px-2 border border-gray_L3 cursor-pointer h-[45px] focus:outline-none active:outline-none py-1 md:w-[280px] w-full text-base rounded-md bg-arrowDownIcon bg-no-repeat bg-[right_10px_bottom_10px] bg-[length:22px]"
      [placeholder]="!selectedRegion && 'Selecciona una provincia'"
    />
  
    <div   [class.hidden]="!showDropdown"
      class="scroller bg-white top-[45px] overflow-x-hidden absolute z-20 px-2 pb-6 flex flex-col h-[300px] shadow-md overflow-y-auto md:w-[280px] w-full border border-gray_L3 rounded-md"
    >
      <div class="sticky py-4 bg-white top-0">
        <input
          [(ngModel)]="filterValue"
          class="region-dropdown px-2 border border-gray_L3 h-[45px] focus:outline-none active:outline-none py-1 w-full text-base rounded-md"
        />
      </div>
      <ng-container *ngFor="let region of regions; index as i">
        <span
          (click)="selectedRegion = region.value; setRegion(region.key)"
          class="p-2 hover:bg-gray_L4 cursor-pointer text-gray"
          *ngIf="i > 0 && region.value !='(Seleccionar)' && region.value.toLowerCase().includes(filterValue.toLowerCase())"
          >{{ region.value }}</span
        >
      </ng-container>
    </div>
  </div>
  