<section class="w-full flex justify-center items-start">
  <div
    class="lg:w-[1100px] md:text-base text-sm md:w-[90%] bottom-4 w-full md:flex-row flex-col flex items-center justify-center md:pb-24 py-6"
  >
    <div class="flex items-center justify-between">
      <img
        class="md:rounded-md rounded-sm md:w-8 w-5 mr-2 cursor-pointer hover:scale-105"
        [src]="logo"
        alt=""
      />
      <span>Una propuesta para InfoJobs</span>
    </div>
    <span class="mx-6 md:block hidden">|</span>
    <p class="md:mt-0 mt-4">&copy; Abigail Ojeda Alonso - 2023</p>
  </div>
</section>
