<section class="flex w-full flex-col justify-center items-center py-24">

   <div class="flex flex-col justify-start items-center p-8 shadow-md bg-white rounded-md min-h-[500px] w-full md:w-[1100px]">
    <div class="flex w-full items center border-b border-gray_L3 mb-4">
        <div class="w-full rounded-t-md p-4">
            <input class="px-2 border border-gray_L3 h-[45px] focus:outline-none active:outline-none py-1 w-2/3 text-sm rounded-md" placeholder="Busca tu nuevo empleo" type="text">
        </div>
        <div class="flex items-center justify-between w-[150px]">
            <span>By InfoJobs</span>
            <img class="rounded-md w-8 cursor-pointer hover:scale-105" [src]="logo" alt="">
        </div>
       </div>
    </div>

</section>
