<div
  (click)="handleClick($event)"
  class="flex justify-center items-center w-full h-full"
>
  <div
    class="bg-white border-b-4 border-primary_L2 shadow-xl w-full md:w-[800px] p-4"
  >
    <section class="relative text-sm pb-4">
      <div
        class="{{ isLoading ? 'hidden ' : 'flex ' }}  w-full justify-end mb-4"
      >
        <img
          class="{{ !isCopied ? 'hidden' : '' }} w-6 cursor-pointer mr-2"
          [src]="copied"
          alt=""
        />
        <img
          (click)="copyContent()"
          class="{{
            isCopied ? 'hidden' : ''
          }} cursor-pointer hover:scale-110 w-6 mr-2"
          [src]="copy"
          alt=""
        />
        <!-- <img
        (click)="generatePDF()"
          class="hover:scale-110 w-6 cursor-pointer mr-2"
          [src]="save"
          alt=""
        /> -->
        <img
          (click)="reloadLetter()"
          class="hover:scale-110 w-6 cursor-pointer"
          [src]="reload"
          alt=""
        />
      </div>

      <div *ngIf="!isLoading" class="h-[400px]">
        <textarea
          [(ngModel)]="coverLetter"
          #textToCopy
          class="scroller bg-gray_L4 p-4 resize-none border-none active:outline-none focus:outline-none w-full h-full"
          style="white-space: pre-line"
          [innerHTML]="coverLetter"
        ></textarea>
      </div>
    </section>

    <div *ngIf="isLoading" class="h-[400px] flex justify-center items-center">
      <app-loading></app-loading>
    </div>
  </div>
</div>
